body{
    display: flex;
    justify-content: center;
    font-family: 'Raleway', sans-serif;;
}

.container{
    width: 400px;
    height: 250px;
    background: #1E2247;
    border: 1px solid transparent;
    border-radius: 20px;
}

h1{
    color: white;
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 20px;
}

input{
    width: 70%;
    background: transparent;
    border: transparent;
    padding: 5px 0;
    color: white;
    font-size: 25px;
    text-align: center;
    position: relative;
    top: 30px;
    display: block;
    margin: 0 auto;
}

#chip {
    background: url(assets/chip.png);
    height: 65px;
    width: 60px;
    background-size: cover;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
    left: 20px;
    top: 20px;
}

